<br/><br/>
<h3><%= raw l(:copy_members_to_another_role) %></h3>

<%= form_tag({:action => 'validate_copy_members', from: @role.id}, :method => 'post') do %>

    <div class="box tabular">

        <p>
            <label for="copy_role_id"><%= raw l(:target_role_where_to_copy_members) %><span class="required"> *</span></label>
            <%= collection_select(:copy, :role_id, Role.where('id <> ?', @role.id), :id, :name) %>
        </p>

        <p>
            <label for="copy_remove_from_source"><%= raw l(:move_instead_of_copy) %><span class="required"> *</span></label>
            <%= check_box("copy", "remove_from_source") %>
        </p>

    </div>

    <%= submit_tag l(:next_step) %>

<% end %>
